# Klasörlerin kendisini takip et ama içeriğini yoksay
veri_yapilari_1/bin/*
!veri_yapilari_1/bin/.gitkeep

veri_yapilari_1/lib/*
!veri_yapilari_1/lib/.gitkeep

# Genel derleme ve sistem dosyalarını engellemeye devam et
*.exe
*.o
*.obj
.vs/
.vscode/
.DS_Store